SUPABASE_URL=https://dgsqxnmrjfvklnjliplh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnc3F4bm1yamZ2a2xuamxpcGxoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MDE1NjE5MCwiZXhwIjoyMTA1NzMyMTkwfQ.ifj0cVtaOG06F4vh9Ght8RElCRVOiiwvxSO_8LHbxrQ
PORT=3000
